/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {

}



body {
  
}

textarea {
    resize: none;
    appearance: none;
    outline: none;
}

